[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DNAfusion"]
	path = DNAfusion
	url = https://github.com/ctriermaansson/dnafusion
